{% extends "home/base.html" %}
{% load staticfiles %}
{% block title %}冒泡广场{% endblock %}
{% block styles %}
    <style>

    </style>


{% endblock %}

{% block pagetitle %}<h1 class="title">冒泡广场</h1>{% endblock %}
{% block content %}


  <div class="content">
    <div class="card facebook-card">
      <div class="card-header no-border">
        <div class="facebook-avatar"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="34" height="34"></div>
        <div class="facebook-name">水晶橘子</div>
        <div class="facebook-date">星期一 09:47am</div>
      </div>
      <div class="card-content"><img src="http://7xq1xx.com1.z0.glb.clouddn.com/m2.JPG" width="100%"></div>
      <div class="card-footer no-border">
        <a href="#" class="link">赞</a>
        <a href="#" class="link">评论</a>
        <a href="#" class="link">分享</a>
      </div>
    </div>
    <div class="card facebook-card">
      <div class="card-header no-border">
        <div class="facebook-avatar"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="34" height="34"></div>
        <div class="facebook-name">香蕉</div>
        <div class="facebook-date">星期一 11:47am</div>
      </div>
      <div class="card-content"><img src="http://7xq1xx.com1.z0.glb.clouddn.com/m1.JPG" width="100%"></div>
      <div class="card-footer no-border">
        <a href="#" class="link">赞</a>
        <a href="#" class="link">评论</a>
        <a href="#" class="link">分享</a>
      </div>
    </div>

  </div>

{% endblock %}
{% block script %}

    <script>
    $(function(){
       var myPhotoBrowserStandalone = $.photoBrowser({
      photos : [
        'http://7xq1xx.com1.z0.glb.clouddn.com/m2.JPG',
        'http://7xq1xx.com1.z0.glb.clouddn.com/m1.JPG',

      ]
    });
        $(".card-content").click(function(){
            myPhotoBrowserStandalone.close();
            myPhotoBrowserStandalone.open();

        });


    })
    </script>
{% endblock %}